
<div class="container" id="game" data-game-id="<%= @game.id if !@game.nil? %>">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, Tic Tac Toe!</p>

  <form id="login" action="/login" method="post">
    Name: <input id="name" name="name" type="text"></input>
    <input id="button" type="submit" value="Login"></input>
  </form>

  <form id="logout" action="/logout" method="post">
    <input id="button" type="submit" value="Logout"></input>
  </form>

  <form id="createGame" action="/" method="post">
    <input id="button" type="submit" value="New Game"></input>
  </form>
  Session:<%= session[:name] %>
  <div id="tbody" data-turn="<%= @status %>" >
    <% unless @board.nil? %>
      <% @board.each_with_index do |row, rindex| %>
        <% row.each_with_index do |col, cindex| %>
        <div class="row<%=rindex%>" id="row<%=rindex%>box<%=cindex%>" ><%= @board[rindex][cindex]%></div>
        <% end %>
        <br>
      <% end %>
      Player 1: <%= @game.users.first.name %><br>
      Player 2: <%= @game.users.second.name %><br>
      Whose Turn: <%= @game.turn %>
    <% end %>
  </div>
</div>
<span id='name' style='visibility: none'><%= session['name'] %></span>